#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
span {
  margin: 0;
}

.ant-collapse-content-box{
  margin: 0 !important;
  padding: .5rem !important;
}